<div style="padding: 10px;">
	<hr color="#f0f0f0" style="border-bottom: 0; margin:0;" />
	<% @notices.each do |notice| %>
		<div style="padding: 5px 0; font-size: 16px;">
			<a style="text-decoration:none; width:100%; display:inline-block; background-color:#FBB131; color:white;" href="<%=notice.url%>">
				<%= notice.title%>
			</a>
		</div>
		<hr color="#f0f0f0" style="border-bottom: 0; margin:0;" />
	<% end %>
	<% unless @user_push_contents.blank? %>
		<% @user_push_contents.each do |user_push_content| %>
		<div style="padding: 5px 0; font-size: 16px;">
			<a style="text-decoration:none; width:100%; display:inline-block; <%="background-color:blue; color:white;" if user_push_content.sns_content_id == @sns_content_id%>" href="<%=user_push_content.sns_content.url%>">
				<%= user_push_content.sns_content.title%>
			</a>
		</div>
		<hr color="#f0f0f0" style="border-bottom: 0; margin:0;" />
		<% end %>
	<% else %>
		<div style="text-align: center; padding: 50px 0;font-size: 18px; color: gray;">아직 데이터가 없습니다.</div>
		<hr color="#f0f0f0" style="border-bottom: 0; margin:0;" />
	<% end %>
</div>