<div style="padding: 20px 10px 0 10px;">게시판 선택</div>
<div style="padding: 0 10px 10px 10px;">
	<%= collection_select("sns", "id" , @sns_list, :id, :name, {:selected => @sns_id},{:onchange => "javascript:change_sns_id();", :style => "width:100%; padding:10px;"} )%>
</div>
<% if @sns_id != "1" %>
<hr>
<div style="padding: 10px 10px 0 10px;">
	<select id="user_recommend_push_count" onchange="javascript:set_user_recommend_push_count();" style="width:100%; padding:10px;">
		<option value="nil">추천수 PUSH 설정</option>
		<% for i in 1..20 %>
			<option value="<%=i*5%>" <%= "selected=selected" if i*5 == @user_recommend_push_count %> ><%=i*5%>개 이상 추천받은글</option>
		<% end %>
	</select>	
</div>
<div style="color: red; padding: 5px 10px 0 10px;">
	<%=@sns_name%>에서 추천수가 몇 이상인 글을 PUSH할지 선택
</div>
<% end %>

<div style="padding: 10px 10px 0 10px;">
	<table style="width: 100%;">
		<tr>
			<td style="width: 85%;"><input style="width:90%; padding: 10px;" id="user_push_key" type="text" placeholder="push 키워드 입력" /></td>
			<td style="text-align: left;"><input style="padding:10px;" onclick="javascript:add_user_push_key();" type="button" value="입력" /></td>
		</tr>
	</table>
</div>
<div style="color: gray; padding: 0px 10px 10px 10px;">
	<%=@sns_name%>에서 어떤 키워드로 PUSH받을지 선택
</div>
<hr>
<div style="padding: 10px;">
	<table border=1 style="width: 100%;">
		<% @user_push_keys.each do |key| %>
		<tr id="<%=key.id%>" %>
			<td style="width: 90%;"><%=key.sns_push_key.key%></td>
			<td style="text-align: center;">
				<input style="padding: 10px;" onclick="javascript:delete_push_key(<%=key.id%>);" type="button" value="삭제" />
			</td>
		</tr>
		<%end%>
	</table>
</div>
<script>
	function set_user_recommend_push_count() {
		cnt = $("#user_recommend_push_count").val();
		var sns_id = $("#sns_id").val();
		sns_id = 
		$.ajax({
			url: "/user_push_keys/set_user_recommend_push_count",
			dataType:'json',
			data: {sns_id: sns_id, count: cnt},
			type:'POST',
			success: function(data){
				var sns_id = data.sns_id;
				var msg = "";
				if(sns_id == 1){
					msg = "[자게]";
				} else if(sns_id == 2) {
					msg = "[뽐게]";
				} else if(sns_id == 4) {
					msg = "[해뽐]";
				} else if(sns_id == 11) {
					msg = "[휴포]]";
				}
				if(data.count == null){
					alert("지금부터 추천수로 " + msg + "에서 PUSH를 받지 않습니다.")
				} else {
					alert("지금부터 " + msg + " 에서 " + data.count + "개 이상 추천받은 글은" + "PUSH를 받습니다.")
				}
			  }
			});
		
	}
	function add_user_push_key() {
		var user_push_key = $("#user_push_key").val();
		if (user_push_key == "") {
			alert("값을 입력해 주세요.");
			return false;
		} else {
			if (confirm("데이터를 입력 하겠습니까?") == true){    //확인
				var sns_id = $("#sns_id").val();
				$.ajax({
				   url: "/user_push_keys/add_user_push_key",
				   data: {sns_id: sns_id, user_push_key: user_push_key},
				   dataType:'json',
				   type:'POST',
				   success: function(data){
				   	location.reload();
				   }
				});
			}
			
		}
	}
	
	function delete_push_key(key_id){
		if (confirm("데이터를 삭제 하겠습니까?") == true){    //확인
			$.ajax({
			   url: "/user_push_keys/delete_user_push_key",
			   data: {key_id: key_id},
			   dataType:'json',
			   type:'DELETE',
			   success: function(data){
			   	location.reload();
			   }
			});
		}
		
	}
	
	function change_sns_id() {
		var sns_id = $("#sns_id").val();
		location.href = "/user_push_keys?sns_id=" + sns_id;
	}

	
</script>
